.card{
    border: none;
    width: 350px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(27,22,110);
background: linear-gradient(302deg, rgba(27,22,110,1) 0%, rgba(92,21,120,1) 100%);
}
.card h1, h6, label, .link{color: #fff;}
